# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp

# Logs
*.log

# Ignore large video files to prevent repository bloat and GitHub file size limits
assets/videos/

# Vercel
.vercel

